# system files
/.DS_Store
/.vscode
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
log/
*.log


node_modules/
package.json
package-lock.json


test.html
test.css
test2.css
test.js

PublicBU/*
common*

local/_data/booksread.json
local/books/books.json
local/books/booksread.md
Public/books/booksread.html
Public/images/bookcovers/legendslattes.png

