# system files
/.DS_Store
/.vscode
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
log/
*.log


node_modules/
package.json
package-lock.json


test.html
test.css
test2.css
test.js

PublicBU/*
common*
local/_data/links.json

#local/Koriko/*  
#Public/Koriko/*

local/newlinks.md 
Public/newlinks.html
local/_includes/partials/links.njk
local/beehappy/index.md
local/beehappy/style.css
Public/beehappy/index.html
Public/beehappy/style.css
