# system files
/.DS_Store
/.vscode
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
log/
*.log


node_modules/
package.json
package-lock.json

PublicBU/*


# test pages
test.html
test.css
test2.css
test.js
local/test.md
Public/test.html 

# Other pages

Public/fanfic/index.html
Public/fanfic/ladyjustice.html
Public/fanfic/Castle/ladyjustice.html
local/_includes/partials/ficlist.njk

local/fanfic/fanfic.json
local/fanfic/index.md
local/fanfic/ladyjustice.md
