/*================== LINKS PAGE ========================*/

.linkmenu{
  text-align: center;
}



        /* style the menu */
        .linkmenu a {
        background-color: var(--pallette1);
        color: var(--pallette4);
        padding: 5px;
        border-radius:5px;
        cursor: pointer; /* makes it a pointy finger when hovering over*/ 
        display: inline-block;
          font-family: var(--fontmain);
          margin-top: 5px;
        }
  
        .linkmenu a:hover {
        background: var(--pallette8);
        color: var(--pallette4);        
        text-decoration: none;
        }

        .linkmenu a:visited {
          background: var(--pallette1);
          color: var(--pallette4);        
          text-decoration: none;
          }

          .linkmenu a:active {
            text-decoration: none;
            }
    




      /* icons before titles */

      #neosites:before {
        background: var(--neositesbefore);
        width:32px;
        height:32px;
        padding: 5px 20px;
        content: " ";
      } 

          #smallweb:before {
            background: var(--imgwebbefore);
            width:32px;
            height:32px;
            padding: 5px 20px;
            content: " ";
          } 


          #citsci:before {
            background: var(--citscibefore);
            width:32px;
            height:32px;
            padding: 5px 20px;
            content: " ";
          } 

          #fun:before {
            background: var(--funbefore);
            width:32px;
            height:32px;
            padding: 5px 20px;
            content: " ";
          } 

          #gaming:before {
            background: var(--gamingbefore);
            width:32px;
            height:32px;
            padding: 5px 20px;
            content: " ";
          } 

          #useful:before {
            background: var(--usefulbefore);
            width:32px;
            height:32px;
            padding: 5px 20px;
            content: " ";
          } 

          #books:before {
            background: var(--booksbefore);
            width:32px;
            height:32px;
            padding: 5px 20px;
            content: " ";
          } 


            /* style the link description */
    .description {
      padding-bottom: 10px;
      padding-left: 10px;
      border-bottom: 2px dashed var(--pallette4);
      margin-bottom: 15px;
      margin-top: 5px;
    }

