
    h2{
        font-size: 32px;
        color: var(--pallette1);
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: center;
    }

.recipephoto img {
    margin:auto;
    display: block;
    width:500px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.ingredients {
    margin:auto;
    max-width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding:5px;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: var(--pallette5);
}

.method {
    margin:auto;
    max-width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding:5px;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: var(--pallette6);
}

.notes {
    margin:auto;
    max-width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding:0 10px 0 10px;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: var(--pallette7);
}

    ul  {
    list-style-type: none;
    }

    ul li {
    background-image: var(--bullet); 
    background-repeat: no-repeat;
    margin-left: 5px;
    }

    .back a {
        background-color: var(--pallette1);
        color: var(--pallette4);
        padding: 10px;
        border-radius:10px;
        cursor: pointer; /* makes it a pointy finger when hovering over*/ 
        display: inline-block;
        font-family: var(--fontmain);
        margin-top: 5px;
    }

    .source {
        text-align: left;
        font-size: 12px;
    }