
#recipetitle h2 {
        font-size: 32px;
        color: var(--colour4);
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: center;
    }

.recipephoto img {
    margin:auto;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.ingredients {
    margin:auto;
    max-width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding:5px;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: var(--colour5);
}

.method {
    margin:auto;
    max-width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding:5px;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: var(--colour6);
}

.notes {
    margin:auto;
    max-width: 95%;
    border-radius: 10px;
    overflow: hidden;
    padding:0 10px 0 10px;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: var(--colour7);
}

    .back a, .back a:visited {
        background-color: var(--colour1);
        color: var(--colour4);
        padding: 10px;
        border-radius:10px;
        cursor: pointer; /* makes it a pointy finger when hovering over*/ 
        display: inline-block;
        font-family: var(--fontmain);
        margin-top: 5px;
    }

    .source {
        text-align: left;
        font-size: 12px;
    }
