/* ==============================
CSS by Starbug  
https://starbug.neocities.org  

Style Name: Picnic 

Feel free to copy sections of my code to create your own style, no credit necessary. 

But please don't rip off my entire style sheet 
Don't claim the style sheet as your own 
Don't redistribute the entire style sheet   

/*====================================================================*/ 

/* Variables - cosmetic things that can be changed  */

:root {

  /* gingham background */
  --background-color: linear-gradient(90deg, #c8000080 50%, transparent 0), linear-gradient(#c8000080 50%, transparent 0 );
  --background-size:30px 30px;

  /* colours used throughout site */
  /* transparent colors will show up differently on different coloured backgrounds */
  --pallette1:#bf1f35; /* dark red */ 
  --pallette2: #588d54; /* dark green */
  --pallette3: #222222;  /* almost black*/
  --pallette4: #ffffff;  /* white */
  --pallette5: #c800001e; /* transparent pale pink */
  --pallette6: #588d5434; /* transparent pale green */  
  --pallette7: #bf1f344a; /* transparent pink */
  --pallette8: #fe9696;  /* dark pink */
  --pallette9: #6aa466; /*   */

  /* Fonts & Font Sizes */ 
  --headerh1fontsize: 60px; /*Site Title*/
  --h1fontsize: 32px;
  --h2fontsize: 24px;
  --h3fontsize: 20px;
  --h4fontsize: 16px;
  --h5fontsize: 14px;
  --h6fontsize: 12px;
  --fontheadings: cherryswash;

  --fonttitle: lato-thin; /*Site Title*/
    --titletextshadow: 4px 4px 4px #000000;
  --fonttagline: lato; /*Site Title Tagline*/
    --fontsizetagline:14px;

  --fontmain: 'Courier New';
    --fontsizemain:16px;

  /* Bullets */
  --bullet: url(/images/siteimgs/favicon_shroom1.gif); 

  /* External Link Icon */
  /* colour: https://angel-rs.github.io/css-color-filter-generator/ */
  --extlink: url(../images/siteimgs/external_link.png);
  --extlinkcolour: brightness(0) saturate(100%) invert(57%) sepia(17%) saturate(1262%) hue-rotate(314deg) brightness(114%) contrast(83%);

  /* Images before headings on movie page*/
  --imgmoviesbefore: url(../images/movies/icons/movies.png) no-repeat;

  --imgmovmoviesbefore: url(../images/movies/icons/popcorn.png) no-repeat;
  --imgmovjapanbefore: url(../images/movies/icons/castle.png) no-repeat;
  --imgmovwarbefore: url(../images/movies/icons/war.png) no-repeat;
  --imgmovausbefore: url(../images/movies/icons/koala.png) no-repeat;
  --imgmovweirdbefore: url(../images/movies/icons/weird.png) no-repeat;
  --imgmovhorrorbefore: url(../images/movies/icons/bloody.png) no-repeat;
  --imgmovfolkbefore: url(../images/movies/icons/wreath.png) no-repeat;
  --imgmovkoreanbefore: url(../images/movies/icons/korea.png) no-repeat;
  --imgmovapocabefore: url(../images/movies/icons/apoca.png) no-repeat;
  --imgmovscifibefore: url(../images/movies/icons/scifi.png) no-repeat;
  --imgmovtimebefore: url(../images/movies/icons/time.png) no-repeat;
  --imgmovmusicbefore: url(../images/movies/icons/music.png) no-repeat;
  --imgmovanimebefore: url(../images/movies/icons/anime.png) no-repeat;
  --imgmovfamilybefore: url(../images/movies/icons/family.png) no-repeat;

    /* Images before headings on links page*/
  --imgwebbefore: url(../images/siteimgs/links/coding.png) no-repeat;
  --neositesbefore: url(../images/siteimgs/links/neosites.png) no-repeat;
  --citscibefore: url(../images/siteimgs/links/scientist.png) no-repeat;
  --funbefore: url(../images/siteimgs/links/fun.png) no-repeat;
  --gamingbefore: url(../images/siteimgs/links/gaming.png) no-repeat;
  --usefulbefore: url(../images/siteimgs/links/useful.png) no-repeat;
  --booksbefore: url(../images/siteimgs/links/books.png) no-repeat;
}

html {cursor: url(../images/siteimgs/favicon_shroom1.gif),auto; }

/* FONTS */

@font-face{
  font-family: lato-thin;
    src: url(../fonts/Lato-Thin.ttf) format("truetype");
}

@font-face{
  font-family: lato;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face{
  font-family: CherrySwash;
    src: url(../fonts/CherrySwash-Regular.otf) format("opentype");
}

@font-face{
  font-family: CherrySwashBold;
    src: url(../fonts/CherrySwash-Bold.otf) format("opentype");
}



/* ====== Main Layout / Basic Structure ===== */

body {
  display: grid;
  grid-template-areas:
    'header'
    'topnav'
    'main'
    'footer';

  grid-template-columns: 100%;
  grid-template-rows: 150px 90px 1fr 70px;
  padding-bottom: 10px;
  margin: 0;
  background: var(--background-color);
  background-size: var(--background-size);
  font-family: var(--fontmain);
  color: var(--pallette3);
  font-size: var(--fontsizemain);

}

page-container {
  width:85%;
  margin: auto;
  max-width: 1000px;
}

header { /* Site Title Area */
  grid-area: header;
  background: var(--pallette1);
  margin:20px;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: var(--pallette3) solid 15px;
  border-radius: 10px;
}

.topnav { /* Main Menu Navigation */
  grid-area: topnav;
  background: var(--pallette4);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--pallette5);
  padding: 5px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


main { 
  grid-area: main;
  background: var(--pallette4);
  margin: 20px;
  margin-top: 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 5px;
  border-top: var(--pallette6) solid 15px;
  border-bottom: var(--pallette6) solid 15px;
}

.footer {
grid-area:footer;
background: var(--pallette4);
color: var(--pallette3);
text-align: center;
margin: 20px;
margin-top: 10px;
margin-bottom:10px;
border-radius: 10px;
padding-top: 10px;
padding-bottom:10px;
}

/* Site Title  */

header h1 {
  color: var(--pallette8);
  font-family:var(--fonttitle);
  text-shadow: var(--titletextshadow);
  text-align: center;
  font-size: var(--headerh1fontsize);
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

tag-line {
  display:block;
  color: var(--pallette4);
  font-family: var(--fonttagline);
  font-size: var(--fontsizetagline);
  text-align: center;
  letter-spacing: 2px;
}

/* ===== Main Menu =====*/ 

.topnav a:hover { 
  text-decoration: none;
  background-color: var(--pallette1);
}

.topnav a:visited {
  background-color: var(--pallette8);
  color: var(--pallette4);
  text-decoration: none;
}

.navbutton, .dropdown button { 
  border: 0;
  font-size:16px ;
  color: var(--pallette4);
  text-decoration: none;
  padding: 5px;
  background-color: var(--pallette8);
  border-radius: 5px;
  font-family: var(--fontmain);
  margin-top: 3px;
  cursor: pointer;

}

.navbutton:hover, .dropdown button:hover {
      background-color: var(--pallette1); 
      color: var(--pallette4); 
  } 

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  padding: 5px 0;
  z-index: 1;
}
.dropdown-content a {
  display: block;
  width: 100%;
  font-size: 16px; 
  border-radius: 0; 
  padding: 5px 10px; 
  background-color: var(--pallette8);
  color: var(--pallette4);
  text-decoration: none;

}

.dropdown-content a:hover {
  background-color:var(--pallette1); 
  color: var(--pallette4); 
  text-decoration:none;
}


/* Text Formatting */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontheadings);
}


h1{
  font-size: var(--h1fontsize);
  color: var(--pallette1);
  margin-top: 5px;
  margin-bottom: 5px;
}

h2{
    font-size: var(--h2fontsize);
    color: var(--pallette1);
    margin-top: 15px;
    margin-bottom: 5px;
}

h3{
  font-size: var(--h3fontsize);
  color: var(--pallette1);
  margin-top: 5px;
  margin-bottom: 0px;
}


h4 {
  font-size: var(--h4fontsize);
  color: var(--pallette1);
  margin-top: 0px;
  margin-bottom: 0px;
}

strong {
  font-weight: bold;

}

/* fun font styling */

rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(254, 211, 102), orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
} 

upsidedown {
  display: Inline-block;
  transform: rotate(180deg);
/*  transform: scaleY(-1);*/
}

void{
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

/* Default Links & Lists */

  a {
    color: var(--pallette2);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: var(--pallette5);
  }

  a:active {
    text-decoration: underline overline;
  }

  ul  {
    list-style-type: none;
    padding:0px;

  }

  li {
    padding-bottom:5px;
    padding-left:30px;
  }
  
  li a {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
  }

  ol li {
    padding:0px;
  }

  /* Stuff used on multiple pages */

  figure {
    text-align: center;
  }
  
  figcaption {
    font-size: small;
  }

    /* Table of Contents using H3 - Used on fandom pages*/
  #toc {  
    columns: 3;
    -webkit-columns:3;
  }
  
  #toc li {
    background-image: var(--bullet);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 3px;
    list-style: none;
  }

    /* Table of Contents using H2 */
  #toc2 {
    columns: 2;
    -webkit-columns:2;
  }
  
  #toc2 li {
    background-image: var(--bullet);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 3px;
    list-style: none;
  }

  hr.dashed { /* dashed line */
    border-top: 3px dashed var(--pallette8);
  }

  cite { /* reference text on VRM page*/
    text-align: left;
    font-size: 12px;
  }

/* list with two columns used on about and lexicon page*/ 
  .stripedlist {
    display: grid;
    grid-template-columns: 180px 1fr;
    max-width: 95%;
    margin:auto;
    background-color: var(--pallette7);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .stripedlist div:nth-child(odd) {
    background-color: var(--pallette8);
    padding:5px;
    text-align: right;
  }
  
  .stripedlist div:nth-child(even) {
    padding:5px;
  }




/* ===== freeze buttons  ===== */
/* the buttons that pause animated images */

.freeze button {
  background-color: var(--pallette8);
  border: 0px;
  border-radius: 5px;
  color: var(--pallette4);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-family: var(--fontmain);
  font-size: 12px;
}


/* Default Text Box */

.textbox {
  background-color: var(--pallette5);
  border-color: var(--pallette8);
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin: 5px auto 10px auto;
  }

  .textbox:hover {
    border-color: var(--pallette2);
}

.textboxGreen {
  background-color: var(--pallette6);
  border-color: var(--pallette9);
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin: 5px auto 10px auto;
  }

  .textboxGreen:hover {
    border-color: var(--pallette8);
}

/*  textbox headings */
.textbox h2, .textboxGreen h2 {
background-color: var(--pallette2);
color: var(--pallette4);
font-size: var(--h2fontsize);
border-radius: 10px;
padding-left:10px;
}

.textbox h3, .textboxGreen h3 {
background-color: var(--pallette8);
color: var(--pallette4);
font-size: var(--h3fontsize);
border-radius: 10px;
padding-left:10px;
margin-bottom: 10px;
}

.textbox h4, .textboxGreen h4 {
  background-color: var(--pallette6);
  color: var(--pallette1);
  font-size: var(--h4fontsize);
  border-radius: 10px;
  padding-left:10px;
  margin-bottom: 10px;
  }



/* img */

.fancy img  {
    width:100%; 
    max-width: 500px; 
    height: auto;
    border-radius: 10px; 
    filter: drop-shadow(1px 3px 5px var(--pallette8));
}

/* External Link Icon*/

[href^="http"]:not([href*="flap"]):not(:has(img))::after{
  content: '(external link)';
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: 1em;
  white-space: nowrap;
  overflow: hidden;
  background-image: var(--extlink);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% auto;
  vertical-align: text-bottom;
filter: var(--extlinkcolour);
}

/*====================================================================*/
  /* MEDIA QUERIES */ 
  /* these are for mobile and other screens */ 

  @media only screen and (max-width:1000px) {
    #heartdivider2 {
      display: none;
    }
  }

  @media only screen and (max-width:900px) {
    body {

      grid-template-areas:
        'header'
        'topnav'     
        'main'
        'footer';
        grid-template-columns: 100%;
        grid-template-rows: 150px 120px 1fr 100px;
    }

    .header h1 {
      color: var(--pallette2);
      font-family:var(--fonttitle);
      text-shadow: var(--titletextshadow);
      text-align: center;
      font-size: 60px;
      letter-spacing: 5px;
      margin: 0;
      text-transform: uppercase;
    }
  

  
  .frontgrid {
    display: grid;
grid-template-areas: 
'intro intro status'
'intro intro webrings'
'images images webrings'
'randomquote randomquote linkme'
'recentupdates recentupdates recentupdates'
'frontpagebuttons frontpagebuttons frontpagebuttons';
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto auto auto auto;
column-gap: 10px;

  }

  #heartdivider2 {
    display: none;
  }

}
  
  @media only screen and (max-width:600px) {
  
  body {
      grid-template-areas:
        'header'
        'topnav'     
        'main'
        'footer';
        grid-template-columns: 100%;
        grid-template-rows: 150px 180px 1fr 100px;
    }
  
    .header h1 {
      color: var(--pallette2);
      font-family:var(--fonttitle);
      text-shadow: var(--titletextshadow);
      text-align: center;
      font-size: 50px;
      letter-spacing: 5px;
      margin: 0;
      text-transform: uppercase;
    }
  
  
  .frontgrid {
    display: grid;
grid-template-areas: 
'intro'
'status'
'randomquote'
'linkme'
'webrings'
'recentupdates'
'images'
'frontpagebuttons';
grid-template-columns: 1fr;
grid-template-rows: auto auto auto auto auto auto;
column-gap: 10px;
  }

  #images {
    display: none;
  }

}


