:root {

    /* gingham background */
    --background-color: linear-gradient(90deg, #c8000080 50%, transparent 0), linear-gradient(#c8000080 50%, transparent 0 );
    --background-size:30px 30px;

   /* colours used throughout site */
    /* transparent colors will show up differently on different coloured backgrounds */
    --colour1:#bf1f35; /* dark red */ 
    --colour2: #588d54; /* dark green */
    --colour3: #222222;  /* almost black*/
    --colour4: #ffffff;  /* white */
    --colour5: #c800001e; /* transparent pale pink */
    --colour6: #588d5434; /* transparent pale green */  
    --colour7: #bf1f344a; /* transparent pink */
    --colour8: #fe9696;  /* dark pink */
    --colour9: #6aa466; /*   */
    --colour10: #FBE5E2; /* solid pink */

  --fonttitle: lato-thin; /*Site Title*/
  --titletextshadow: 4px 4px 4px #000000;
  --fonttagline: lato; /*Site Title Tagline*/
  --fontheadings: CherrySwash;
  --fontmain: 'Courier New';

  --headerh1fontsize: 50px; /*Site Title*/
  --h1fontsize: 32px;
  --h2fontsize: 24px;
  --h3fontsize: 20px;
  --h4fontsize: 16px;
  --h5fontsize: 14px;
  --h6fontsize: 12px;

  --fontsizetagline:14px;
  --fontsizemain:16px;
  --fontsizebigger: 20px;


  /* horizontal rule decorative */  
  --divider: url(/images/siteimgs/divider2b.gif);

  /* Bullets */
  --bullet: url(/images/siteimgs/favicon_shroom1.gif); 

/* External Link Icon */
  /* colour: https://angel-rs.github.io/css-color-filter-generator/ */
  --extlink: url(../images/siteimgs/external_link.png);
  --extlinkcolour: brightness(0) saturate(100%) invert(57%) sepia(17%) saturate(1262%) hue-rotate(314deg) brightness(114%) contrast(83%);
}

html {cursor: url(../images/siteimgs/favicon_shroom1.gif),auto; }

/* FONTS */

@font-face{
  font-family: lato-thin; /* used for site title */
    src: url(../fonts/Lato-Thin.ttf) format("truetype");
}

@font-face{
  font-family: lato;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face{
  font-family: CherrySwash; /* used for headings https://www.fontsquirrel.com/fonts/cherry-swash or https://fonts.google.com/specimen/Cherry+Swash */
    src: url(../fonts/CherrySwash-Regular.otf) format("opentype");
}

@font-face{
  font-family: CherrySwashBold;
    src: url(../fonts/CherrySwash-Bold.otf) format("opentype");
}



/* ====== Main Layout / Basic Structure ===== */

body {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';

  grid-template-columns: 320px 1fr;
  grid-template-rows: 150px 1fr 70px;
  padding-bottom: 20px;
  margin: auto;
  background: var(--background-color);
  background-size: var(--background-size);
  font-family: var(--fontmain);
  color: var(--colour3);
  font-size: var(--fontsizemain);
  height: 100vh;
  max-width: 1200px;
}

header { /* Site Title Area */
  grid-area: header;
  background: var(--colour1);
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
  border-bottom: var(--colour3) solid 15px;
}

nav { /* Main Menu Navigation */
  grid-area: nav;
  background: var(--colour4);
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-top: 5px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: var(--colour6) solid 15px;
  border-bottom: var(--colour6) solid 15px;
  padding: 5px;
}


main { 
  grid-area: main;
  background: var(--colour4);
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 5px;  
  border-radius: 10px 10px 10px 10px;
  border-bottom: var(--colour6) solid 12px;
  border-top: var(--colour6) solid 15px;
}

footer {
grid-area:footer;
background: var(--colour4);
color: var(--colour3);
text-align: center;
margin: 20px;
margin-top: 0px;
margin-bottom:10px;
border-radius: 10px;
padding-top: 10px;
padding-bottom:10px;
border-style: solid;
border-color: var(--colour5);
border: var(--pallette6) solid 15px;
}



/* ====== HEADINGS ===== */

header h1 {
      color: var(--colour8);
      font-family:var(--fonttitle);
      text-shadow: var(--titletextshadow);
      text-align: center;
      font-size: var(--headerh1fontsize);
      letter-spacing: 5px;
      margin: 0;
      text-transform: uppercase;
}

tag-line {
  display:block;
  color: var(--colour4);
  font-family: var(--fonttagline);
  font-size: var(--fontsizetagline);
  text-align: center;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--fontheadings);
}

h1 {
font-size: var (--h1fontsize);
}
h2 {
font-size: var (--h2fontsize);
}
h3 {
font-size: var (--h3fontsize);
}
h4 {
font-size: var (--h4fontsize);
}
h5 {
font-size: var (--h5fontsize);
}
h6 {
font-size: var (--h6fontsize);
}

/* Default Links & Lists */

  a {
    color: var(--colour9);
    text-decoration: none;
  }

  a:visited {
    color: var(--colour2);
  }

  a:hover {
    color: var(--colour1);
  }



  a:visited hover {
    color: var(--colour1);
  }

.navbutton:visited {
color: var(--colour4)
}

/* ====== SIDEBAR STUFF ===== */

#menu-buttons {
margin:10px;
margin-bottom: 20px;
}

.navbutton {
  background-color: var(--colour8);
  color: var(--colour4);
  font-size:16px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-family: var(--fontmain);
  cursor: pointer;
}

.navbutton:hover {
      background-color: var(--colour1); 
      color: var(--colour4); 
  } 


/* Text Formatting */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontheadings);
}


h1{
  font-size: var(--h1fontsize);
  color: var(--colour1);
  margin-top: 5px;
  margin-bottom: 5px;
}

h2{
  background-color: var(--colour8);
  font-size: var(--h2fontsize);
  color: var(--colour4);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding-left:10px;
}

h3{
  font-size: var(--h3fontsize);
  color: var(--colour1);
  margin-top: 5px;
  margin-bottom: 0px;
}


h4 {
  font-size: var(--h4fontsize);
  color: var(--colour1);
  margin-top: 10px;
  margin-bottom: 0px;
}

strong {
  font-weight: bold;
  color: var(--colour8);
}

.textbox {
  background-color: var(--colour5);
  border-color: var(--colour8);
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin: 5px auto 10px auto;
  }

.textbox:hover {
  border-color: var(--colour2);
}

.textbox h3 {
  font-family: var(--fontheadings);
  background-color: var(--colour8);
  color: var(--colour4);
  font-size: var(--h3fontsize);
  border-radius: 10px;
  padding-left:10px;
  margin-bottom: 10px;
}

.textbox h4 {
  font-family: var(--fontheadings);
  background-color: var(--colour6);
  color: var(--colour1);
  font-size: var(--h4fontsize);
  border-radius: 10px;
  padding-left:10px;
  margin-bottom: 10px;
  }


/* lists */

.sidebar ul li, .bullets ul li {
    padding-left:5px;
    list-style-image:var(--bullet);
    background-repeat: no-repeat;
    list-style-type: none;
    vertical-align:middle;
}


.starlist ul li {
    list-style-type: none;  
}

.starlist ul li:before{
    content: '\22C6';
    padding-left:5px;
    list-style-type: none; 
    color: var(--colour8);
    font-size: 1.5rem;
    vertical-align:middle;
}

/* list with two columns used on about and lexicon page*/ 
  .stripedlist {
    display: grid;
    grid-template-columns: 180px 1fr;
    max-width: 95%;
    margin:auto;
    background-color: var(--colour7);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .stripedlist div:nth-child(odd) {
    background-color: var(--colour8);
    padding:5px;
    text-align: right;
  }
  
  .stripedlist div:nth-child(even) {
    padding:5px;
  }


/* ====== OTHER STUFF ===== */

  /* Table of Contents using H3 - Used on fandom pages*/
  #toc {  
    columns: 3;
    -webkit-columns:3;
  }
  
  #toc li {
    background-image: var(--bullet);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 3px;
    list-style: none;
  }

    /* Table of Contents using H2 */
  #toc2 {
    columns: 2;
    -webkit-columns:2;
  }
  
  #toc2 li {
    background-image: var(--bullet);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 3px;
    list-style: none;
  }


/* External Link Icon*/

[href^="http"]:not([href*="flap"]):not(:has(img))::after{
  content: '(external link)';
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: 1em;
  white-space: nowrap;
  overflow: hidden;
  background-image: var(--extlink);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% auto;
  vertical-align: text-bottom;
  filter: var(--extlinkcolour);
}

/* fun font styling */

rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(254, 211, 102), orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
} 

.upsidedown {
  display: Inline-block;
  transform: rotate(180deg);
/*  transform: scaleY(-1);*/
}







/* ============ INDEX PAGE ============= */  
      .linkme {
      text-align: center;
      margin-top: 5px;
      }

/* =========== Blog ========== */

#nextprev {
text-align: center;
}

/* ========== Images ========== */

  figure {
    text-align: center;
  }
  
  figcaption {
    font-size: small;
  }

  .fancy img { /* glowing boarder */
    max-width: 500px; 
    width: 100%;
    height: auto;
    border-radius: 10px; 
    filter: drop-shadow(1px 3px 5px var(--colour8));
}


/* ===== freeze buttons  ===== */
/* the buttons that pause animated images */

.freeze button {
  background-color: var(--colour8);
  border: 0px;
  border-radius: 5px;
  color: var(--colour4);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-family: var(--fontmain);
  font-size: 12px;
}





/* Random Quote CSS */

.quotebox {
  background-color: var(--colour6);
  border-color: var(--colour6);
  border-style: solid;
  border-width: 3px;
  border-left-width: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: smaller;
  }

  .quotebox:hover {
    border-color: var(--colour8);
}

#quotes1::before{
content: "“";
float: left;
  font-weight: bold;
  font-size:50px; 
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 15px;
  padding-right: 8px; 
  padding-left: 3px; 
}

.quotebox #author {
  padding-right: 5px;
}

.quotebox button {
  background-color: var(--colour6);
  border-color: var(--colour6);
  cursor: pointer;
  color: var(--colour2);
  display: block; 
  margin: 0 auto;
  margin-top: 10px;
}



     #frontpagebuttons{
        padding-top:10px;
        text-align:center;
      }




/*====================================================================*/
  /* MEDIA QUERIES */ 
  /* these are for mobile and other screens */ 


  @media only screen and (max-width:768px) {
    body {

      grid-template-areas:
        'header'  
        'main'
        'nav'
        'footer';
        grid-template-columns: 100%;
        grid-template-rows: 150px 1fr 1fr 100px;
    }

    header h1 {
      color: var(--colour8);
      font-family:var(--fonttitle);
      text-shadow: var(--titletextshadow);
      text-align: center;
      font-size: 50px;
      letter-spacing: 5px;
      margin: 0;
      text-transform: uppercase;
    }
  }
  
  
  @media only screen and (max-width: 600px) {
  
  body {
      grid-template-areas:
        'header'   
        'main'
        'nav'
        'footer';
        grid-template-columns: 100%;
        grid-template-rows: 150px 1fr 1fr 100px;
    }
  
    header h1 {
      color: var(--colour8);
      font-family:var(--fonttitle);
      text-shadow: var(--titletextshadow);
      text-align: center;
      font-size: 45px;
      letter-spacing: 5px;
      margin: 0;
      text-transform: uppercase;
    }
  }