<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="pinterest" content="nopin" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow">
  <meta name="robots" content="noimageindex">
  <meta name="robots" content="noarchive">

  <link rel="icon" type="image/x-icon" href="/images/siteimgs/favicon.ico">
  <link href="css/style.css" title="style" rel="stylesheet" type="text/css" media="all" />
  <link href="css/{{ cssFile }}" rel="stylesheet" type="text/css" media="all"  />
  <link rel="stylesheet" href="https://tfortring.neocities.org/fortring/onionring.css">                       
  <script src="js/load.js"></script>
  <script src="{{ script }}"></script>


<!-------- Theme Switch Code ------->
  <script>
    const defaultTheme = "css/style.css";
    // Check if `theme` is set
    if (localStorage.getItem("theme") === null) {
      // Set to default theme
      localStorage.setItem("theme", defaultTheme);
    }
    // Load theme CSS
    document.head.insertAdjacentHTML(
      'beforeend',
      `<link rel="stylesheet" href="${localStorage.getItem('theme')}"/>`);
    // Theme switcher
    function setTheme(themeFile) {
      // Set theme to new theme
      localStorage.setItem('theme', themeFile);
      // Refresh the page
      location.reload();
    }
  </script>

  <title>{{ title }}</title>
</head>
 
<body>
  <div class="wrapper">
  <div class="header">
    <h1>{{ title }}</h1>
    <div class="tagline">{{tagline}}</div>
  </div>


{% include "partials/topnav.njk" %}

  <div class="main">
<!-- Main Content Start-->
  {{ content | safe }}

<!-- Main Content End-->
  </div> <!--main-->

<!-- Footer -->
{% include "partials/footer.njk" %}
</div>
</body>
</html> 