<!DOCTYPE html>
<html lang="en">

<head>

<!-- ARCHIVERS: 

DO NOT ARCHIVE THIS SITE.

YOU DO NOT HAVE MY CONSENT TO DOWNLOAD, SCRAPE, CRAWL, OR RECORD THE CONTENTS OF THIS SITE IN ANY WAY.

I UNDERSTAND THAT PRESERVING THE WEB IS IMPORTANT, BUT I DO NOT WANT MY SITE ARCHIVED NOR PRESERVED (by anyone other than the internet archive).

I DO NOT CONSENT. 
PLEASE REPECT MY WISHES. 

THANKYOU

-->


<!-- Important Browser Stuff -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Block crawlers etc -->
  <meta name="pinterest" content="nopin">
  <meta name="robots" content="noindex, nofollow">
  <meta name="robots" content="noimageindex">
  <meta name="robots" content="noarchive">

<!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/images/siteimgs/favicon_shroom1.gif">


<!-- Style Sheets -->
  <link href="/css/style.css" title="style" rel="stylesheet" type="text/css" media="all">

{% if pageIsA24 %}
  <link href="/css/a24.css" title="style" rel="stylesheet" type="text/css" media="all">
{% endif %}

{% if pageIsGbook %}
  <link href="/css/gbook.css" title="style" rel="stylesheet" type="text/css" media="all">
{% endif %}

{% if pageIsFavs %}
  <link href="/css/media.css" title="style" rel="stylesheet" type="text/css" media="all">
{% endif %}

{% if pageIsModal %}
  <link href="/css/modal.css" title="style" rel="stylesheet" type="text/css" media="all">
{% endif %}

<!-- RSS FEED -->
  <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Space Cadet RSS feed">

<!-- Site Title -->
  <title>SPACE CADET | {{ title }}</title>

</head>

<body>

<!-- Site Title and Tagline -->
  <header>
    <h1>SPACE CADET</h1>
    <tag-line>Just a girl floating through space...</tag-line>

  </header>

<!-- Navigation -->
  <nav>
    {% include "partials/sidenav.njk" %} 
  </nav>

<!-- Main Conent -->
  <main>
    <article>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
    </article>
  </main> 

<!-- Footer -->
  <footer>
    {% include "partials/footer.njk" %} 
  </footer>

<!-- Javascript -->
  <script src="/js/{{ script }}"></script>
</body>
</html> 