<!DOCTYPE html>
<html lang="en">

<head>

<!-- ARCHIVERS: 

DO NOT ARCHIVE THIS SITE.

YOU DO NOT HAVE MY CONSENT TO DOWNLOAD, SCRAPE, CRAWL, OR RECORD THE CONTENTS OF THIS SITE IN ANY WAY. 
I UNDERSTAND THAT PRESERVING THE WEB IS IMPORTANT, BUT I DO NOT WANT MY SITE ARCHIVED NOR PRESERVED. 
I DO NOT CONSENT. 
PLEASE REPECT MY WISHES. 

THANKYOU

-->


<!-- Important Browser Stuff -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Block crawlers etc -->
  <meta name="pinterest" content="nopin">
  <meta name="robots" content="noindex, nofollow">
  <meta name="robots" content="noimageindex">
  <meta name="robots" content="noarchive">

<!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/images/siteimgs/favicon_shroom1.gif">
  <link rel="icon" type="image/x-icon" href="/images/siteimgs/favicon.ico">


<!-- Style Sheets -->
  <link href="/css/style.css" title="style" rel="stylesheet" type="text/css" media="all">
  <link href="/css/picnic.css" rel="stylesheet" type="text/css" media="all">
  <link href="/css/{{ cssFile }}" rel="stylesheet" type="text/css" media="all"> 
  <link href="/css/{{ cssFile2 }}" rel="stylesheet" type="text/css" media="all">
  
<!-- TF2 Webring -->
  <link rel="stylesheet" href="https://tfortring.neocities.org/fortring/onionring.css">   

<!-- RSS FEED -->
  <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Space Cadet RSS feed">

<!-- Javascript -->
  <script src="/js/{{ script }}"></script>
<!-- Site Title -->
  <title>SPACE CADET | {{ title }}</title>

</head>

<body>

<!-- Site Title and Tagline -->
  <header>
    <h1>SPACE CADET</h1>
    <tag-line>Just a girl floating through space...</tag-line>

  </header>

<!-- Navigation -->
  <nav>
    {% include "partials/sidenav.njk" %} 
  </nav>

<!-- Main Conent -->
  <main>
    <article>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
    </article>
  </main> 

<!-- Footer -->
  <footer>
    {% include "partials/footer.njk" %} 
  </footer>

 
</body>
</html> 