---
layout: layout/base.njk
---
<div class="textbox">
<!-- title and date -->
<h3>{{ title }}</h3>
<time>{{ date | blogDate }}</time> 

<div>

<!-- TAGS -->
Tags: 
</div>

</div><!-- text box -->


<div class="textbox">
<!-- content -->
{{ content | safe }}

