---
layout: layout/base.njk
---

<div class="textbox">
<!-- title and date -->
<h3>{{ title }}</h3>

<div><strong>{{ date | readableDate }}</strong></div>   
{%- if lastmod -%}
<div>Updated: <strong>{{ lastmod | readableDate }}</div></strong>
{% endif %}

</div><!-- text box -->


<div class="textbox">
<!-- content -->
{{ content | safe }}

</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div style="text-align: center;">
	{%- if previousPost %} ← <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a> {% endif %} | <a href="/posts/index.html">All Posts</a> |  {%- if nextPost %} <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> → {% endif %}
</div>
{%- endif %}
{%- endif %}

<div class="textbox">
<h3>Comments</h3>
	{%- include "partials/commentbox.njk" %}
</div>