---
title: Space Cadet
tagline: Just a girl floating through space...
layout: layout/base.njk
---
<div class="back"><a href="/cookbook.html"><< Back</a></div> 

<h2>{{ recipetitle }}</h2>
<div class="recipephoto">
<figure class="fancy">
<img src="/images/recipes/{{recipephoto}}" width="75%">
<figcaption>{{recipecaption}}</figcaption>
</figure>
</div>

{{ content | safe}}