p {
  margin: 0px;
  padding: 10px;
}

.recordgallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.record{
    font-size: 12px;
    background-color: var(--pallette5);
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
    border-style: none none solid none;
    border-width: 5px;
    border-color: var(--pallette8);
    box-sizing: border-box;
}

.record img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    filter: opacity(80%) saturate(50%)  sepia(10%) ;
}

.recordtxt {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    color: var(--pallette3)
}

.title {
font-weight: bold;
}

.artist {
text-transform: uppercase;
}

.year {
  letter-spacing: 2px;
}

.year::before{
  content: "=";
}
.year::after{
  content: "=";
}

.icons {
  max-width: 25px;
  height: auto;
  cursor:pointer;
  padding-top: 5px;
}


.filterDivMusic {
  display: none;
  width:20%;
}



  .record > .record-info {
      display: none;
      background: var(--pallette4);
      padding: 8px;
      border: 1px solid var(--pallette7);
      width: 256px;
      border-width: 2px;
      border-radius: 10px;
  }

  .record:hover {
      z-index: 1;
      scale: 1.1;
      position: relative;
  }
  .record:hover > .record-info {
      display: block;
      position: fixed;
      top: 0;
      left: 136px;
  }


@media screen and (max-width: 800px) {
    .filterDivMusic { width: 45%; font-size: 15px; }
    }
    
@media screen and (max-width: 600px) {
    .filterDivMusic { width: 75%; font-size: 15px; }
    }



