/*====================================================================*/
  /* INDEX PAGE */ 

    
        /* Warning box on front page */
        #warning {
          background-color: var(--pallette8);
          padding: 5px 5px 5px 5px;
          border-radius: 10px;
          margin: 20px auto 15px 20px;
        }
      
        #warning .marqueewarning {
          overflow: hidden;
          white-space: nowrap;
          }
    
        .marquee {
            animation: marquee 25s linear infinite;
            display: inline-block;
            padding-right: 100px;
      }
      
      .marquee:hover {
        animation-play-state: paused;
      }
      
      
      @keyframes marquee {
        from {
          transform: translateX(0);
        }
        to { 
          transform: translateX(-100%);
        }
      }
      
      
        /* button on front page */
      #frontpagebuttons{
        padding-top:10px;
        text-align:center;
      }
    
    .frontpage {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .frontpage div {
    
      margin: 5px;
    }
    
    
      .updatebox {
        background-color: var(--pallette5);
        border-color: var(--pallette2);
        border-style: dashed;
        margin: auto; 
        padding:10px;
        overflow: hidden; 
        min-width: 200px;
        max-width: 500px;
      }
  
  
  
    
      .todobox {
        background-color: var(--pallette6);
        border-color: var(--pallette7);
        border-style: dashed;
        margin: auto; 
        padding:10px;
        min-width: 200px;
        max-width: 300px;
      }
    
    
      .linkmebox {
        background-color: var(--pallette6);
        border-color: var(--pallette7);
        border-style: dashed;
        margin: auto; 
        padding:10px;
        max-width: 830px;
        }
    