/*====================================================================*/
  /* INDEX PAGE */ 

    
        /* Warning box on front page */
        #warning {
          background-color: var(--pallette8);
          padding: 5px 5px 5px 5px;
          border-radius: 10px;
          margin: 20px auto 15px 20px;
          color: var(--pallette4);
        }
      
        #warning .marqueewarning {
          overflow: hidden;
          white-space: nowrap;
          }
    
        .marquee {
            animation: marquee 25s linear infinite;
            display: inline-block;
            padding-right: 100px;
      }
      
      .marquee:hover {
        animation-play-state: paused;
      }
      
      
      @keyframes marquee {
        from {
          transform: translateX(0);
        }
        to { 
          transform: translateX(-100%);
        }
      }
      
      
        /* button on front page */
      #frontpagebuttons{
        padding-top:10px;
        text-align:center;
      }
      
      .frontpage {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      
      .frontpage div {
        margin: 5px;
      }
      
#random {
    background-color: var(--pallette6);
          min-width: 200px;
          max-width: 300px;
}   

#recent {
          overflow: hidden;     
          min-width: 200px;
          max-width: 500px;
}
