/*====================================================================*/
  /* INDEX PAGE */ 

  :root {
    --fontstatus: 14px;
  }

     /* buttons on front page */
      #frontpagebuttons{
        padding-top:10px;
        text-align:center;
      }
      
      .linkme {
        background-color: var(--pallette6);
        border-color: var(--pallette6);
border-width: 3px;
border-style: solid;
border-radius: 10px;
text-align: center;
margin-top: 5px;
      }


.frontgrid {
display: grid;
grid-template-areas: 
'intro intro status'
'intro intro webrings'
'images images linkme'
'randomquote randomquote linkme'
'recentupdates recentupdates recentupdates'
'frontpagebuttons frontpagebuttons frontpagebuttons'
;

grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
    column-gap: 10px;
      }


      #intro {
        grid-area: intro;

      }

      #status {
        grid-area: status;
        width:90%;
      }

      #webrings {
grid-area: webrings;
width:90%;
      }

#images {
  grid-area: images;
  text-align: center;
}

      #randomquote {
grid-area: randomquote;  
width:95%;
      }

      #linkme {
        grid-area: linkme;
        width:90%;
      }

      #recentupdates {
grid-area: recentupdates;
      }

      #frontpagebuttons {
grid-area: frontpagebuttons;
      }




/* Random Quote CSS */

.quotebox {
  background-color: var(--pallette6);
  border-color: var(--pallette6);
  border-style: solid;
  border-width: 3px;
  border-left-width: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: smaller;
  }

  .quotebox:hover {
    border-color: var(--pallette8);
}

#quotes1::before{
content: "“";
float: left;
  font-weight: bold;
  font-size:50px; 
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 15px;
  padding-right: 8px; 
  padding-left: 3px; 
}

.quotebox #author {
  padding-right: 5px;
}

.quotebox button {
  background-color: var(--pallette6);
  border-color: var(--pallette6);
  cursor: pointer;
  color: var(--pallette2);
  display: block; 
  margin: 0 auto;
  margin-top: 10px;
}

small {
  font-size: 7px;
}

#status {
font-size: var(--fontstatus)
}

#status strong {
  color: var(--pallette2);
}

/* web shimeji */
.webmeji-container {
  position: fixed;
  bottom: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  z-index: 9999;
}

.webmeji-container img {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
  display: block;
  transform-origin: center;
}

@media (max-width: 768px) {
  .webmeji-container {
    width: 50px;
    height: 50px;
  }
}