/* ============= A24 MOVIES PAGE ========== */ 

.A24 {
    display: grid;
    grid-template-columns: 40px 40px 50px 1fr;
    max-width: 95%;
    margin:auto;
    background-color: var(--pallette);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .A24 div {
    text-align: left;
    padding:10px;
  }
  
  /* Column 1*/
  .A24 div:nth-child(4n-7) {
    background: var(--pallette5);
    color: var(--pallette1);
    padding:10px;
  }
  
  /* column 2 */
  .A24 div:nth-child(4n-6) {
    background: var(--pallette6);
    color: var(--pallette2);
    padding:10px;
  }
  
  /* Column 3 */
  .A24 div:nth-child(4n-5) {
    background: var(--pallette7);
    padding:10px;
  }
  
    /* column 4*/
  .A24 div:nth-child(4n-4) {
    background: var(--pallette8);
  }

  .A24progress {
  text-align: center;
  margin-top: 15px;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  }

  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:70%;
    height: 15px;
    border-radius: 10px;
    background-color:var(--pallette6);
  }

  progress::-webkit-progress-bar {
    background-color:var(--pallette6);
    border-radius: 10px;
  }

  progress::-webkit-progress-value {
    background-color: var(--pallette8);
    border-radius: 10px;
  }


progress::-moz-progress-bar {
    background-color:var(--pallette6);
    border-radius: 10px;
}
  progress::-moz-progress-value {
    background-color: var(--pallette8);
    border-radius: 10px;
  }

  /* ============= FAV MOVIES PAGE ========== */ 
  
  p {
    margin: 0px;
    padding-top: 20px;
  }
  
  p span {
    display: block;
  }
  
  .title{
  font-weight: bold;
  }
  
  .artist {
  text-transform: uppercase;
  }
  
  .year {
    letter-spacing: 2px;
  }
  
  .year::before{
    content: "=";
  }
  .year::after{
    content: "=";
  }

  .moviegallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.movie {
    font-size: 12px;
    background-color: var(--pallette6);
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
    border-style: none none solid none;
    border-width: 5px;
    border-color: var(--pallette9);
    box-sizing: border-box;
}


.movie img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    filter: opacity(80%) saturate(50%)  sepia(10%) ;
}

.icons {
  max-width: 25px;
  height: auto;
  cursor:pointer;
  padding-top: 5px;
}

heart {
  color:red;
}

.movietxt {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    color: var(--pallette3);
    padding-bottom: 0px;
}

.filterDivMovies {
  display: none;
  width:20%;
}


@media screen and (max-width: 800px) {
    .filterDivMovies { width: 40%; font-size: 15px; }
    }
    
@media screen and (max-width: 600px) {
    .filterDivMovies { width: 75%; font-size: 15px; }
    #A24Progress{display: flex;}
    }










