

<div style="text-align: center; font-size: var(--fontsizebigger)">
<strong>
{%- if A24movies.disliked != "" -%}
✗
{%- endif %}
{%- if A24movies.favourite != "" -%}
&#9829; 
{%- endif %}

</strong>
</div>

<div>
<strong>

{%- if A24movies.seen != "" -%}
<input checked disabled type="checkbox">
{% else %} 
<input disabled type="checkbox">

{%- endif -%}
</strong>
</div>

<div>{{A24movies.year}}</div>
<div>{{A24movies.title}}</div>

