<div class="book">
        <img src="/images/books/covers/{{- books.cover }}">

<div class="booktxt"> 


<div>
        {%- if books.series != "" -%} 
        <div class="series">{{- books.series -}}&nbsp;#{{- books.seriesnumber -}}</div>
        {%- endif -%} 
</div>
<div>
        {%- if books.rating != "" %} 
        <div class="rating"><img src="/images/books/ratings/{{- books.rating }}star.gif"></div>
        {%- endif %} 
</div>
        <div>
        {%- if books.goodreads != "" %} 
        <a href="{{- books.goodreads }}" target="_blank"><img src="/images/siteimgs/goodreads.png" class="icons" title="View on GoodReads"></a> 
        {%- endif %} 

        {%- if books.storygraph != "" -%} 
        <a href="{{- books.storygraph }}" target="_blank">
        <img src="/images/siteimgs/storygraph.png" class="icons" title="View on Storygraph"></a>
        {%- endif -%} 
        </div>
 
        </div><!--booktxt-->
        </div><!--book-->