

<div class="filterDivMusic {{ favmusic.genre1 }} {{ favmusic.genre2 }} {{ favmusic.genre3 }} {{ favmusic.country }} {{ favmusic.favourite }} {{ favmusic.album}}"> 

<div class="record">
{%- if favmusic.album == "album" %} 
<div style="text-align: center;">ALBUM</div> 
{%- endif%} 
<img src="/images/music/{{- favmusic.cover }}" alt="{{ favmusic.title}} Album Art">

<div class="recordtxt">
      <div class="title">{{- favmusic.title }}</div>
      <div class="artist">{{- favmusic.artist }}</div>
      <div class="year">{{- favmusic.year }}</div>

<div>
        {%- if favmusic.youtube != "" %} 
        <a href="{{ favmusic.youtube }}" target="_blank">
          <img src="/images/siteimgs/youtube.png" class="icons" title="Listen on Youtube"></a>
          {%- endif%} 
          
          {%- if favmusic.spotify != "" %} 
          <a href="{{ favmusic.spotify }}" target="_blank"><img src="/images/siteimgs/spotify.png" class="icons" title="Listen on Spotify"></a> 
          {%- endif %} 
</div>
    </div><!--recordtxt-->
  </div><!--record-->
</div><!-- filterdiv-->