
{%- assign changes = changelog | reverse | limit: 3 -%}
{%- for change in changes -%}

<div class="changelog"><p><strong>{{ change.date | blogDate }}:</strong> - {{ change.update }}</div></p> 
{%- endfor -%}