<hr class="dashed">
<div class="linkmenu" id="top">
    <a href="#neosites">Personal Sites</a> 
    <a href="#citsci">Citizen Science</a> 
    <a href="#books">Books/Reading</a> 
    <a href="#fun">Fun</a>  
    <a href="#gaming">Gaming</a>  
    <a href="#useful">Useful</a>  
    <a href="neocities.html">Site Making</a>  
 </div>
 <hr class="dashed">