<p class="indexstrip"> Reads by year: <a href="2025reads.html">2025</a> | <a href="2024reads.html">2024</a> | <a href="2023reads.html">2023</a> | <a href="2022reads.html">2022</a> | <a href="2021reads.html">2021</a> | <a href="2020reads.html">2020</a>
Reads by Genre: <a href="cozyfantasy.html">Cozy Fantasy/Sci-Fi</a>"
</p>