
<div class="textbox">
<h2>Menu</h2>

<div class="menu-buttons">
<a href="/index.html" class="navbutton">Home</a> 
<a href="/sitemap.html" class="navbutton">Sitemap</a>
<a href="/guestbook.html" class="navbutton">Guestbook</a>
</div>

<h4>Stuff</h4>
<ul>
<li><a href="/use.html">/Use</a>  </li>
<li> <a href="/shinies.html">Shinies</a></li>
<li><a href="/cookbook.html">Cookbook</a></li>
<li><a href="/lexicon.html">Lexicon</a></li>
<li><a href="/solottrpg.html">TTRPG Log</a></li>
</ul>

<h4>Books/Movies</h4>
<ul>
<li><a href="/booklog.html">Reading Log</a></li>
<li><a href="/a24movies.html">A24 Movie Challenge</a></li>
</ul>

<h4>Favs</h4>
<ul>
<li><a href="/favmusic.html">Favourite Music</a></li>
<li><a href="/favtvshows.html">Favourite TV Shows</a></li>
<li><a href="/favmovies.html">Favourite Movies</a></li>
<li><a href="/fandom/harem.html">Favourite Characters</a> </li>
</ul>

<h4>For You</h4>
<ul>
<li><a href="/fandom/100x100.html">100x100 User Pics</a></li>
<li><a href="/fandom/friendsonly.html">Friends Only Banners</a></li>
<li> <a href="/fandom/moodthemes.html">LJ/DW Mood Themes</a></li>
</ul>

<h4>Other</h4>
<ul>
<li><a href="/links.html">Links</a></li>
<li><a href="/credits.html">Site Credits</a></li>
</ul>

<h4>Theme Switch</h4>
<ul>
<li><a href="#" onclick="setTheme('/css/style.css')">Red (default)</a></li>
<li><a href="#" onclick="setTheme('/css/bluestyle.css')">Blue</a></li>
<li><a href="#" onclick="setTheme('/css/dyslexia.css')">Dyslexia (Red)</a></li>
<li><a href="#" onclick="setTheme('/css/dyslexiablue.css')">Dyslexia (Blue)</a></li>
</ul>
        
        
  <!--<a href="/commonplace.html">Commonplace Book</a>-->     
  <!--<a href="/posts/index.html">Posts</a>-->
  <!--<a href="/links.html" class="navbutton">Links</a>-->

    
  

</div>