<div class="sidebar">

<div class="textbox">

<div id="menu-buttons">
<a href="/index.html" class="navbutton">Home</a> 
<a href="/guestbook.html" class="navbutton">Guestbook</a>
</div>


<div id="linkme" class="textbox">
<h2>Link Me</h2>
<div class="linkme">
<p>Want to link to me? Pick a button:</p>

<div><img src="/images/siteimgs/starbug88x31button.png" alt="graphic to use for linking to this site"></div>  


<p>please upload the button to your own webspace!</p>
</div>
</div>