
  <nav class="topnav">

    <a href="/index.html" class="navbutton">Home</a> 
  
    <div class="dropdown">
      <button>Stuff</button>
      <div class="dropdown-content">
        <a href="/use.html">/Use</a>  
        <a href="/shinies.html">Shinies</a>
        <a href="/cookbook.html">Cookbook</a>
        <a href="/lexicon.html">Lexicon</a>
        <!--<a href="/commonplace.html">Commonplace Book</a>-->
        <a href="/solottrpg.html">TTRPG Log</a>
        <!--<a href="/posts/index.html">Posts</a>-->
      </div>
  </div>

  <div class="dropdown">
    <button>Books/Movies/Music</button>
    <div class="dropdown-content">
        <a href="/booklog.html">Reading Log</a>
        <a href="/favmusic.html">Favourite Music</a>
        <a href="/favtvshows.html">Favourite TV Shows</a>
        <a href="/favmovies.html">Favourite Movies</a> 
        <a href="/a24movies.html">A24 Movie Challenge</a>

    </div>
</div>  

  <div class="dropdown">
    <button>Fandom</button>
    <div class="dropdown-content">
      <a href="/fandom/harem.html">Favourite Characters</a>     
      <a href="/fandom/100x100.html">100x100 User Pics</a>
      <a href="/fandom/friendsonly.html">Friends Only Banners</a>
      <a href="/fandom/moodthemes.html">LJ/DW Mood Themes</a>
    </div>
  </div>

  <!--<a href="/links.html" class="navbutton">Links</a>-->

    <div class="dropdown">
      <button>Site</button>
      <div class="dropdown-content">
        <a href="/credits.html">Site Credits</a> 
        <a href="/changelog.html">Changelog</a>
        <a href="https://neocities.org/site/starbug">Neocities Profile</a>             
        </div>
    </div>


      <a href="/sitemap.html" class="navbutton">Sitemap</a>
      <a href="/guestbook.html" class="navbutton">Guestbook</a>

<div class="dropdown">
<button>Theme Switch</button>

<div class="dropdown-content">
  <a href="#" onclick="setTheme('/css/style.css')">Red (default)</a>
  <a href="#" onclick="setTheme('/css/bluestyle.css')">Blue</a>
  <a href="#" onclick="setTheme('/css/dyslexia.css')">Dyslexia (Red)</a>  
  <a href="#" onclick="setTheme('/css/dyslexiablue.css')">Dyslexia (Blue)</a>

</div>
</div>


</nav>



    